/*  your css code here. If applicable */
.red{
	
	border:1px solid black;
	border-radius:50%;
	height:70px;
	width:70px;
	background-color:red;
	
	margin:5px;
}
.green
{
	border:1px solid black;
	border-radius:50%;
	height:70px;
	width:70px;
	background-color:green;
	margin:5px;
}
.yellow
{
	border:1px solid black;
	border-radius:50%;
	height:70px;
	width:70px;
	background-color:yellow;
	margin:5px;
}
.circle
{
	background-color:grey;
	display:flex;
	width:300px;
	height:200px;
	border:1px solid black;
	border-radius:50px;
	padding:5px;
	margin:50px;
	
	
}